*{
    color: #ffffff;
}

a{
    text-decoration: none;
}




@font-face {
    font-family: 'iconfont';  /* project id 296478 */
    src: url('//at.alicdn.com/t/font_25dbwzypdpge3ik9.eot');
    src: url('//at.alicdn.com/t/font_25dbwzypdpge3ik9.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_25dbwzypdpge3ik9.woff') format('woff'),
    url('//at.alicdn.com/t/font_25dbwzypdpge3ik9.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_25dbwzypdpge3ik9.svg#iconfont') format('svg');
}

body{
    background-color: #c93d10;
}

.header-top{
    position: relative;
    border: #ffffff 2px solid;
    height: 50px;
}

.main-navigation{
    display: inline-block;
}

.main-navigation ul{
    display: inline-block;
    list-style: none;
    padding: 0;
    margin:0;
}

.main-navigation li{
    font-size: 17px;
    display: block;
    height: 50px;
    line-height: 50px;
    float: left;
    border-right: #ffffff 2px solid;
    text-align: center;
}

.main-navigation a{
    padding: 13px 24px 13px 24px;
}

.main-navigation li:hover,button:hover,.main-navigation a:hover{
    background-color: #ffffff;
    color: #c93d10;
}


.sidebar-toggle{
    font-family: iconfont;
    border: none;
    border-left: 2px solid #ffffff;
    float: right;
    background-color: #c93d10;
    height:50px;
    width: 50px;
}

.site-branding{
    padding:24px;
    font-size: 24px;
    border-left: solid #ffffff 2px;
    border-right: solid #ffffff 2px;
    border-bottom: solid #ffffff 2px;
}

.site-branding a:hover{
    text-decoration: underline;
}
