{{#if prev}}
    <div class="previous-page">
        <a href="{{page_url prev}}">&#xe768;</a>
    </div>
{{/if}}

<span>第 {{page}} 页 &frasl; 共 {{pages}} 页</span> 
{{#if next}}
    <div class="next-page">
        <a href="{{page_url next}}">&#xe600;</a>        
    </div>
{{/if}}